{% load sub_funcs %}
{% csrf_token %}
<div class="card" data-id="{{ item.id }}">
    <a href="{% url 'single' item.id %}" class="link">
        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card__image">
    </a>
    <div class="card__body">
        <a href="{% url 'single' item.id %}" class="card__title link">{{ item.title }}</a>
        {% include "includes/item_tags.html" %}
            <div class="card__items card__items_column">
            <p class="card__text">{% include "includes/cooking_time.html" with cooktime=item.cooking_time %}</p>
            <p class="card__text"><span class="icon-user"></span> 
                <a href="{% url 'author_recipes' item.author.username %}" style="color: black">{% include "includes/author_name.html" with author=item.author %}</a>
            </p>
        </div>
    </div>
    <div class="card__footer">
        {% include "includes/add_to_cart.html" %}
        {% include "includes/add_to_favorites.html" %}
    </div>
</div>