{% load sub_funcs %}
<p class="single-card__text">{% include "includes/cooking_time.html" with cooktime=recipe.cooking_time %}</p>
<ul class="single-card__items">
<a href="{% url 'author_recipes' recipe.author.username %}">
    <li class="single-card__item"><p
            class="single-card__text"><span
            class="icon-user"></span> {% include "includes/author_name.html" with author=recipe.author %}
    </p></li>
</a>
{% if user.is_authenticated %}
    {% if user.is_staff or request.user == recipe.author %}
        <li class="single-card__item"><a
                class="single-card__text"
                href="{% url 'edit_recipe' recipe.id %}"
                class="single-card__text">| Редактировать рецепт</a></li>
    {% endif %}
{% endif %}
</ul>