{% load sub_funcs %}
{% include "includes/cooking_time.html" with cooktime=recipe.cooking_time %}
<ul class="single-card__items">
<a href="{% url 'author_recipes' recipe.author.username %}">
    <li class="single-card__item"><p
            class="single-card__text"><span
            class="icon-user"></span> {% firstof recipe.author.get_full_name recipe.author.username %}
    </p></li>
</a>
{% if user.is_authenticated %}
    {% if user.is_staff or request.user == recipe.author %}
        <li class="single-card__item"><a
                class="single-card__text"
                href="{% url 'edit_recipe' recipe.id %}"
                class="single-card__text">| Редактировать рецепт</a></li>
    {% endif %}
{% endif %}
</ul>