{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% load cache %}
{% load sub_funcs %}
{% block main_css %}/static/pages/single.css{% endblock %}
{% block title %}Рецепт {{ recipe.title }}{% endblock %}

{% block content %}
        {% csrf_token %}
        <div class="single-card" data-id="{{ recipe.pk }}"
             data-author="{{ recipe.author.pk }}">
            <img src="{{ recipe.image.url }}"
                 alt="{{ recipe.title }}"
                 class="single-card__image">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                    <div class="single-card__favorite">
                        {% include "includes/add_to_favorites_big.html" %}
                    </div>
                </div>
                    {% include "includes/single_page_tags.html" %}
                <div class="single-card__items single-card__items_column">
                    {% include "includes/single_page_info.html" %}
                </div>

                    <ul class="single-card__items">
                            {% include 'includes/add_to_cart.html' with item=recipe %}

                            {% if request.user != recipe.author %} 
                                {% include 'includes/follow_button.html' with author=recipe.author %}
                            {% endif %}
                    </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингредиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% include "includes/single_page_ingredients.html" %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script src="/static/js/components/Purchases.js"></script>
    <script src="/static/js/components/Favorites.js"></script>
    <script src="/static/js/components/Subscribe.js"></script>
    <script src="/static/js/config/config.js"></script>

    <script src="/static/js/components/MainCards.js"></script>
    <script src="/static/js/components/SingleCard.js"></script>
    <script src="/static/js/components/Header.js"></script>

    <script src="/static/js/api/Api.js"></script>
    <script src="/static/singlePage.js"></script>
{% endblock %}